<br />
<br />

<form [formGroup] = "searchForm" (ngSubmit) = "sendData()" class="form-inline my-2 my-lg-0">
	  <div>
	    <input type="text" name = "name" id ="name" class="form-control mr-sm-2" placeholder="Search" aria-label="Search" formControlName = "name" required>
	    <div *ngIf="!searchForm.controls.name.valid && searchForm.get('name').touched" class="alert alert-danger">
	      Please add Name
      </div>  
      <input type="submit" value = "Search" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!searchForm.valid">  
	  </div>
</form>

<br />

<h2>List of Products</h2>

<ul class="list-group">
  <div *ngIf="length_keys == 0">
    No Item Yet :)
  </div>
  <li class="list-group-item col-sm-8" *ngFor = "let key of productsKeys" >
    <div class="col-sm-4">
       <span><b>Name:</b> {{products[key].name}}</span>
       <br />
        <span><b>Price:</b> ${{products[key].price}}</span>
    </div>
    <div class="col-sm-4" style="margin-left: 100px;margin-top: -40px;">
      <button class = "btn btn-warning"><a [routerLink] ="['/edit-product/', key]">Edit</a></button>
    </div>
  </li>  
</ul>